<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p %d{ISO8601} [%thread] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>


    <logger name="ca.umanitoba.dam.islandora.derivativetoolkit" additivity="false" level="${toolkit.log.all:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="ca.umanitoba.dam.islandora.derivativetoolkit.gatekeeper" additivity="false" level="${toolkit.log.gatekeeper:-INHERITED}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="ca.umanitoba.dam.islandora.derivativetoolkit.worker" additivity="false" level="${toolkit.log.worker:-INHERITED}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="ca.umanitoba.dam.islandora.derivativetoolkit.queuesplitter" additivity="false" level="${toolkit.log.queuesplitter:-INHERITED}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.apache.camel" additivity="false" level="${toolkit.log.camel:-WARN}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.apache.activemq" additivity="false" level="${toolkit.log.activemq:-WARN}">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>