<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p %d{HH:mm:ss.SSS} [%thread] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>

    <logger name="ca.umanitoba.dam.islandora.derivativetoolkit.gatekeeper" additivity="false" level="${toolkit.gatekeeper.log:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="ca.umanitoba.dam.islandora.derivativetoolkit.worker" additivity="false" level="${toolkit.worker.log:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="ca.umanitoba.dam.islandora.derivativetoolkit.queuesplitter" additivity="false" level="${toolkit.queuesplitter.log:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.apache.camel" additivity="false" level="${toolkit.log.camel:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.apache.activemq" additivity="false" level="${toolkit.log.activemq:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>